include script/common.js
include script/svg.js

include script/models/Ball.js
include script/models/BallContainer.js
include script/models/Player.js
include script/models/PoolTable.js

include script/stroke_pool.js

include script/main.js