doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Stroke Pool
        link(rel="stylesheet" href="style/stroke_pool.css")

    body
        #stroke_pool
        h1 Stroke Pool
        pre.
            Instructions:
                Click Ball to pocket for selected player.
                Click Player to set selected player.

    include scripts.jade
