body {
    font-size: 2em;
}

.player {
    margin: 2em;
}

.ball {
    font-size: 1em;
    display: inline-block;
    width: 19%;
    margin: 1em 0 1em 2em;
    font-weight: bold;
}

.ball.removed{
    font-weight: normal;
}

.selected.player {
    font-weight: bold;
}

.scoreUpdate {
    display: inline-block;
}