body 
  font-size 2em

  .stroke_pool

    .ball
      font-size 1em
      display inline-block
      width 19%
      margin 1em 0 1em 2em
      font-weight bold

      .removed
        font-weight normal

    .player
      margin 2em
      .selected
        font-weight bold

    .scoreUpdate
      display inline-block

    .ballElement
      position relative
      width 60
      height 45
      text-align center
      display inline-block
      padding-top 15
      overflow hidden
      font-size 25
      border 1px solid black

