body {
  font-size: 2em;
  background: #132;
  color: #eee;
}
.ball {
  font-size: 1em;
  display: inline-block;
  width: 19%;
  margin: 1em 0 1em 2em;
  font-weight: bold;
}
.ball .removed {
  font-weight: normal;
}
.player {
  margin: 2em;
}
.player.selected {
  font-weight: bold;
}
.scoreUpdate {
  display: inline-block;
}
.ballElement {
  color: #000;
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  display: inline-block;
  padding-top: 17px;
  overflow: hidden;
  font-size: 22px;
}
