body 
  font-size 2em

  .stroke_pool

    .ball
      font-size 1em
      display inline-block
      width 19%
      margin 1em 0 1em 2em
      font-weight bold

      .removed
        font-weight normal

    .player
      margin 2em
      .selected
        font-weight bold

    .scoreUpdate
      display inline-block



