body {
  font-size: 2em;
}
.ball {
  font-size: 1em;
  display: inline-block;
  width: 19%;
  margin: 1em 0 1em 2em;
  font-weight: bold;
}
.ball .removed {
  font-weight: normal;
}
.player {
  margin: 2em;
}
.player.selected {
  font-weight: bold;
}
.scoreUpdate {
  display: inline-block;
}
.ballElement {
  position: relative;
  width: 60px;
  height: 45px;
  text-align: center;
  display: inline-block;
  padding-top: 15px;
  overflow: hidden;
  font-size: 25px;
  border: 1px solid #000;
}
